version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./infra/db/init.sql:/docker-entrypoint-initdb.d/init.sql
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"   # RabbitMQ port
      - "15672:15672" # Management UI
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
  inventory-service:
    build: ./services/inventory-service
    volumes:
      - ./services/inventory-service:/app
      - /app/node_modules
    command: npm run dev
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?search_path=inventory_service"
      BETTER_AUTH_SECRET: ${BETTER_AUTH_SECRET}
      AUTH_JWKS_URL: "${AUTH_SERVICE_INTERNAL_URL}/api/auth/jwks"
      JWT_ISSUER: ${JWT_ISSUER}
    depends_on:
      - db
      - rabbitmq

  order-service:
    build: ./services/order-service
    volumes:
      - ./services/order-service:/app
      - /app/node_modules
    command: npm run dev
    environment:
      DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?search_path=order_service"
      INVENTORY_SERVICE_INTERNAL_URL: ${INVENTORY_SERVICE_INTERNAL_URL}
    depends_on:
      - db
      - rabbitmq
  inventory-worker:
      build: ./services/inventory-service
      command: node src/worker.js 
      environment:
        DATABASE_URL: "postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?search_path=inventory_service"
        RABBITMQ_URL: "amqp://admin:password@rabbitmq:5672"
      depends_on:
        - db
        - rabbitmq
  nginx:
      image: nginx:alpine
      ports:
        - "8081:80"
      volumes:
        - ./api-gateway/default.conf.template:/etc/nginx/templates/default.conf.template:ro
      environment:
        - INVENTORY_SERVICE_INTERNAL_URL=${INVENTORY_SERVICE_INTERNAL_URL}
        - ORDER_SERVICE_INTERNAL_URL=${ORDER_SERVICE_INTERNAL_URL}
      depends_on:
        - inventory-service
        - rabbitmq
